.number-1, .number-3, .number-5 {
    background-color: pink;
}
.number-2{
    font-size: 36px;
    color: blue;
}
.number-3, .number-4{
    font-size: 24px;
}
.number-4{
    background-color: lightgreen;
    font-weight: bold;
}